<div class="inmodal" ng-controller="IvasCtrl" ng-init="load()">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Crear Iva</h4>
    </div>
  	<div class="modal-body">
    	<div>
  	  	<form name="formIva" novalidate>
          <div class="row">
              <div class="col-lg-7">
                  <div class="form-group">
                    <label>Descripcion:</label>
                    <input type="text" focus-on="true" required placeholder="Descripcion" ng-model="form.data.descripcion" class="form-control">
                  </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                    <label>Valor:</label>
                    <input type="number"required  placeholder="Valor" ng-model="form.data.valor" class="form-control">
                 </div>
              </div>
              <div class="col-lg-12 text-right">
                <div class="form-group">
                    <button style="border-radius: 5px; border-bottom: 1px solid #f1f1f1;padding-bottom: 5px;" class="custom-btn custom-btn-primary" ng-click="agregar()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Agregar</button>
                 </div>
              </div>
          </div>
        </form>
        <div class="row">
          <div class="file-wrap" style="height: 150px;" ng-show="loading">
            <div class="item-loading text-center" style="position:relative;top:25%;">
              <img style="height:30px;" src="images/loading.gif">
              <p>cargando datos...</p>
            </div>
          </div>
         </div>
            <div class="table-responsive" ng-hide="loading">
               <table class="table table-hover">
                <thead>
                  <th>Descripcion</th>
                  <th>Valor</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr ng-repeat="record in records">
                    <td>{{record.data.descripcion}}</td>
                    <td>{{record.data.valor }}</td>
                    <td class="text-right">
                   <a style="width:auto;"  class="custom-btn-tiny btn-block btn-primary" ng-click="edit()"><i class="glyphicon glyphicon-edit"></i>Editar</a>
                    <a style="width:auto;" ng-click="borrar()" class="custom-btn-tiny btn-block btn-danger"><i class="glyphicon glyphicon-trash"></i>Quitar</a>

                    </td> 
                  </tr>
                </tbody>
              </table>      
            </div>
    	</div>
  	</div>
    <div class="modal-footer custom-modal-footer" style="padding:0px;">
        <button type="button" style="height:40px;"  class="custom-btn btn-block custom-btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
