<div class="inmodal" ng-controller="IvasCtrl">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Editar Iva</h4>
    </div>
  	<div class="modal-body">
    	<div>
  	  	<form name="formEditIva" novalidate>
          <div class="row">
              <div class="col-lg-7">
                  <div class="form-group">
                    <label>Descripcion:</label>
                    <input type="text" focus-on="true" required placeholder="Descripcion" ng-model="formEdit.data.descripcion" class="form-control">
                  </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                    <label>Valor:</label>
                    <input type="number"required  placeholder="Valor" ng-model="formEdit.data.valor" class="form-control">
                 </div>
              </div>
          </div>
  	  	</form>
    	</div>
  	</div>
    <div class="modal-footer custom-modal-footer" style="padding:0px;">
        <button type="button" style="height:40px;"  class="custom-btn btn-block custom-btn-primary" ng-click="ok()">Actualizar</button>
    </div>
</div>
