@import "variables.scss";
//
// Base styles
// --------------------------------------------------
* {
  -webkit-user-drag: text;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden!important;
}

.modal-center{
    top: 20%;  
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd!important;
    font-family: tahoma, gone, helvetica!important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(0,0,0, 0.7);
}

@media screen and (min-width: 768px) {
  .modal-lg{
      width:900px!important;
  }

  .modal-sm{
      width:300px!important;
  }
}

.table tr.active td {
  background-color:#123456;
  color: white;
  font-weight: bold;
}

.label-sp-custom {
    background-color: #f95c07;
}

.selectize-input {
    height: 30px!important;
    padding: 5px 10px!important;
    font-size: 12px!important;
    line-height: 1.5!important;
    border-radius: 3px!important;
}

.ng-datepicker-input {
    border: 1px solid #d0d0d0;
    padding: 8px 8px;
    width: 100%;
    overflow: hidden;
    line-height: 1.5!important;
    position: relative;
    z-index: 1;
    height:30px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer!important;
    margin: 0 3px 3px 0!important;
    padding: 0px 20px !important;
    color: black !important!important;
    border: 0 solid #d0d0d0!important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table tr td:last-child {
    text-align: right;
}

.content {
    padding: 25px 10px 40px 10px;
    min-width: 320px;
}

.titulo{font-size:40px;padding-left:15px}

.hpanel{
    background-color: none;
    border: none;
    box-shadow: none;
    margin-bottom: 25px;  
}

.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.hpanel > .panel-footer, .hpanel > .panel-section {
    color: inherit;
    border: 1px solid #e4e5e7;
    border-top: none;
    font-size: 90%;
    background: #f7f9fa;
    padding: 10px 15px;
}


hr {
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #e2e2e2;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

// Basic app structure
@import "variables.scss";
.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: $chrome-color;
}

.window-content {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex: 1;
}
.sidebar{
  height: 100vh;
  background-color: #010d07;
  border-right: 1px solid #011217;
}

.footer{
    height: 200px;
    background-color: #333;
}

.icon-set{
    width: 150px;
    height: 150px;
    font-size: 100px;
    text-align: center;
    display: inline;
    padding: 5px;
    border: 2px solid #808080;
    border-radius: 3px;  
}


.right-align-text{
  text-align:right;
} 

.label-custom{
  background-color:#230C00;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #230C00;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.custom-modal-header{
    border: none;
    background-color: #000D11;
    color: #FFF;
}

.custom-modal-body{
  padding:0px; 
}

.custom-modal-footer{
    border: none;
    background-color: #383737;
    color: #FFF;
}

.intl-tel-input{
  width:100%;
}

.iti-flag{
  width:16px;
  height:11px;
  background:url("../images/flags.png");
  }

  .table_wrap{
  margin:0;
  padding:0;
  width:100%;
  height: 100%;
  display: table
}
.mediumheader{
  min-width: 320px;
    padding: 10px 10px 0px 10px;
}

.table_height{
  height : 500px;
}

.table_inner{
  display: table-cell;
  text-align: center;
  vertical-align: middle
}

.cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:500px;
      height:350px;
      position: relative;
      float: left;
      width: 100%;
}

.navbar-default .nav > request:hover, .navbar-default .nav > .request:focus {
    background-color: #293846;
    color: white;
}

.home-page{
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
background-image: url(http://2.bp.blogspot.com/-gic3mg0TG9Q/ThFhmc8KyAI/AAAAAAAAUtA/1HiBQgFxJt0/w1200-h630-p-nu/Icewind_Dale_1920x1200.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.login-page{
    /*background-image: url(../images/background-2.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.forgot-page{
    background-color: #001c24;
    min-height: 600px;
}

.page-about{
    background-image: url(../images/background-3.jpg);
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.page-login{
    background-image: url(../images/background-2.jpg);
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-faq{
    background-image: url(../images/background-2.jpg);
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    color: black!important;
    border: 0 solid #d0d0d0;
}

.image-file-container{
    height: 269px;
    background-color: #f7f7f7;
    padding: 5px;
}

.file-item{
    height: auto;
    width: 100%;
    float: left;
    padding: 5px;
    background-color: white;
}
.file-option-link{
    margin-right: 10px;
    top: -12px;
    position: relative;
}

.image-file{
    position: relative;
    top: 5px;
}

.menu-item-active{
  border-left: 2px solid #FF5E1B!important;
}

.tiny-text{
  font-size: 10px;
}

.empty{
  width:100%;
  height:100%;
}

.label-darkblue {
    background-color: #001c24;
}

.upload_success{
  border-left: 3px solid #8ff98f;
}

.upload_warning{
  border-left: 3px solid #ffe800;
}

.ng-datepicker-input{
    border: 1px solid #d0d0d0;
    padding: 8px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.ng-datepicker {
  position: absolute;
  z-index: 9999;
  width: 250px;
  background: #fff; 
  font-size: 12px; 
  color: #565a5c; 
  display: inline-block; 
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

.ng-datepicker > .controls {
  width: 250px;
  display: inline-block;
  padding: 5px 0 0 0;
}

.ng-datepicker > .controls i {
  font-size: 25px;
  cursor: pointer;
}

.ng-datepicker > .controls > .left {
  width: 35px;
  display: inline-block;
  float: left;
  margin: 5px 0 0 3px;
}

.ng-datepicker > .controls > .left > i.prev-year-btn {
  float: left;
  display: block;
  font-size: 14px;
  opacity: 0.4;
}

.ng-datepicker > .controls > .left > i.prev-month-btn {
  float: left;
  margin: -5px 0 0 9px;
  display: block;
}

.ng-datepicker > .controls > span.date {
  width: 170px;
  text-align: center;
  font-size: 14px;
  color: #565a5c;
  font-weight: bold;
  float: left; 
  padding: 3px 0 0 0;
}

.ng-datepicker > .controls > .right {
  width: 35px;
  display: inline-block;
  float: right;
  margin: 5px 0 0 0;
}

.ng-datepicker > .controls > .right > i.next-year-btn {
  float: left;
  display: block;
  font-size: 14px;
  opacity: 0.4;
}

.ng-datepicker > .controls > .right > i.next-month-btn {
  float: left;
  margin: -6px 9px 0 0;
}

.ng-datepicker > .day-names {
  width: 250px;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;
}

.ng-datepicker > .day-names > span {
  width: 35.7px;
  text-align: center;
  color: #82888a;
  float: left;
  display: block;
}

.ng-datepicker > .calendar {
  width: 255px;
  display: inline-block;
  margin: -3px 0 -4px -1px;
  padding: 0;
}

.ng-datepicker > .calendar > span > span.day {
  width: 35px;
  height: 35px;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  float: left;
  display: block;
  color: #565a5c;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}

.ng-datepicker > .calendar > span:last-child > span.day {
  border-right: 1px solid #c4c4c4;
}

.ng-datepicker > .calendar > span > span.day.disabled {
  border-left: 1px solid transparent;
  cursor: default;
  pointer-events: none;
}

.ng-datepicker > .calendar > span > span.day:hover {
  background: #ff5c5b;
  color: #fff;
}
/* BASIC STYLINGS
============================================================================= */
pre                             { margin-bottom:20px; }

/* form styling */
#form-container                { background:#2f2f2f; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#383737; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#e15305; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#ff5e1b; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px;padding:30px; background-color:#001C24;}

/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../images/green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
    .icheckbox_square-green.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-green.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-green.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-green.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-green {
    background-position: -120px 0;
}
    .iradio_square-green.hover {
        background-position: -144px 0;
    }
    .iradio_square-green.checked {
        background-position: -168px 0;
    }
    .iradio_square-green.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-green.checked.disabled {
        background-position: -216px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(../images/green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.success{
    background: #ffffff;
    border: 5px dashed #f95c07!important;
    width: 100%;
    text-align: center;
    padding: 50px 10px;
}

.sweet-alert.show-input input{
  text-align:center;
}

.splash {
    position: fixed;
    z-index: 2000;
    background: white;
    color: gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.splash-title {
    text-align: center;
    max-width: 500px;
    margin: 15% auto;
    padding: 20px;
}

.monospace{
  font-family:monospace!important;
}

#printable { display: none;}

@media print
{
  #non-printable { display: none; }
  #printable { display: block; }
}

.initialize{
    height: 200px;
    float: left; 
    width: 100%; 
    max-height: 100%;
    top: 100px;
    position: relative;
}

.sweet-alert.show-input input {
    text-align: center!important;
    font-family: lato!important;
    font-size: 14px!important;
}

.sweet-alert h2 {
    color: #575757;
    font-size: 20px;
    text-align: center;
    text-transform: none;
    position: relative;
    font-weight: lighter;
    margin: 3px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}

.sweet-alert button {
    margin: 0px 5px 0 5px!important;
}

.modal-body-pattern{
  background-image : url(../images/modal-body-pattern.png);
}

.login-content{
    width: 60%;
    height: 560px;
    margin: 0 auto;
    top:50px;
    background-color: #eee;
    position: relative;
}

.sp-toolbar{
    height: 60px;
    background-color: #000D11;
    box-sizing:border-box;
    padding:10px;
}
.sp-list-title{
  font-size:14px!important;
}

.sp-toolbar-inner{
    height: 60px;
}

.sp-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sp-list-item{
    width:100%;
    margin : 0 auto;
    height: auto;
    border-bottom: 1px solid #eaeaea;
    background-color: white;
    box-sizing: border-box;
    padding: 6px;
    display:table;
    position:relative;

    &:hover{
          background-color: rgb(247, 247, 247);
          cursor:pointer;
    }
}

.sp-list-item .trash{
    color: gray;
    position: absolute;
    top: 30px;
    right: 10px;

    &:focus{
      outline:none;
    }

    &:active{
      outline:none;
      border-bottom: 0px;
    }
}

.sp-item-image{
    width: 80px;
    height: 80px;
    display: inline;
    float: left;
    margin-right:10px;
}

.sp-item-image img{
    width: 80px;
    height: 80px;
}

.sp-meta-right{
    position: absolute;
    top: 4px;
    color: #ababab;
    right: 10px;
    font-size: 10px;
}

.sp-list-item h4{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sp-metadata{
    font-size: 12px;
    display: inline;
    float: left;
    margin-bottom: 0px;
}

.sp-choosable {
    cursor : pointer!important;
}

.sp-choice.sp-active {
    border-width: 3px;
    border-left: 3px solid #001c24;
}
.sp-text{
    display: inline;
    top: -10px;
    position: relative;
}



.navbar-default {
    background-color: transparent;
    border-color: #2f4050;
    background-color : #010d07 !important
}

.nav.navbar-right > li > a {
  color: #999c9e;
}
.nav > li.active > a {
  color: #ffffff;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #293846;
  color: white;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: #fff;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
  background-color: transparent;
}
.nav > li > a i {
  margin-right: 6px;
}
.navbar {
  border: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 40px;
}
.body-small .navbar-top-links li:last-child {
  margin-right: 0;
}
.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}
.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
}
.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1ab394;
  outline: 0;
}
.dropdown-menu > li > a.font-bold {
  font-weight: 600;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.dropdown-messages,
.dropdown-alerts {
  padding: 10px 10px 10px 10px;
}
.dropdown-messages li a,
.dropdown-alerts li a {
  font-size: 12px;
}
.dropdown-messages li em,
.dropdown-alerts li em {
  font-size: 10px;
}
.nav.navbar-top-links .dropdown-alerts a {
  font-size: 12px;
}
.nav-header {
  padding: 33px 25px;
  background-color: #2f4050;
  background-image: url("/images/header-profile.png");
}
.pace-done .nav-header {
  transition: all 0.4s;
}
.nav > li.active {
  border-left: 4px solid #19aa8d;
  background: #293846;
}
.nav.nav-second-level > li.active {
  border: none;
}
.nav.nav-second-level.collapse[style] {
  height: auto !important;
}
.nav-header a {
  color: #DFE4ED;
}
.nav-header .text-muted {
  color: #8095a8;
}
.minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}
.navbar-form-custom {
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}
.navbar-form-custom .form-group {
  margin-bottom: 0;
}
.nav.navbar-top-links a {
  font-size: 14px;
}
.navbar-form-custom .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  height: 60px;
  margin: 0;
  z-index: 2000;
}
.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;
}
.arrow {
  float: right;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px;
}
.nav-third-level li a {
  padding-left: 62px;
}
.nav-second-level li:last-child {
  margin-bottom: 10px;
}
body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
.mini-navbar .nav li:focus > .nav-second-level {
  display: block;
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: auto;
}
body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
  font-size: 12px;
  border-radius: 3px;
}
.fixed-nav .slimScrollDiv #side-menu {
  padding-bottom: 60px;
}
.mini-navbar .nav-second-level li a {
  padding: 10px 10px 10px 15px;
}
.mini-navbar .nav .nav-second-level {
  position: absolute;
  left: 70px;
  top: 0;
  background-color: #2f4050;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
}
.canvas-menu.mini-navbar .nav-second-level {
  background: #293846;
}
.mini-navbar li.active .nav-second-level {
  left: 65px;
}
.navbar-default .special_link a {
  background: #1ab394;
  color: white;
}
.navbar-default .special_link a:hover {
  background: #17987e !important;
  color: white;
}
.navbar-default .special_link a span.label {
  background: #fff;
  color: #1ab394;
}
.navbar-default .landing_link a {
  background: #1cc09f;
  color: white;
}
.navbar-default .landing_link a:hover {
  background: #1ab394 !important;
  color: white;
}
.navbar-default .landing_link a span.label {
  background: #fff;
  color: #1cc09f;
}
.metismenu .arrow {
    float: right!important;
    line-height: 1.42857!important;
    color: #f95c07!important;
}

.dropdown-menu{
  background-color:#001c24!important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #080808;
}

#status-buttons{
    background-color: #01212b;
    padding: 10px;
    box-sizing: border-box;
}

.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel]{
  padding-left:50px!important;
}

.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    margin-left: -10%;
    height:auto;
}

.selectizeLoading {
  background-color:red;
}

phone {
    display: block;
    border-radius: 22px;
    width: 300px;
    height: 500px;
    background: #0c0c0c;
    left: 50%;
    margin-left: 51%;
    margin-top: 1px;
    position: absolute;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-transform: rotate3d(0, 0, 0, 0);
}

phone:after {
   content: "";
   display: block;
   width: 0px;
   height: 0px;
   left: 0px;
   position: absolute;
   border: 180px dotted transparent;
   border-right: 120px solid rgba(255, 255, 255, 0.03);
   border-top: 250px solid rgba(255, 255, 255, 0.03);
   border-top-right-radius: 22px; 
}

.mobile-button {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 100%;
    font-weight: 400;
    position: absolute;
    bottom: -10px;
    margin-left: -25px;
    margin-bottom: 15px;
    left: 50%;
    border-radius: 80px;
    border: 0px;
    background: -webkit-linear-gradient(#000, #0b0b0b);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

mobile-button:hover {
  cursor: pointer;
} 

mobile-button:active {
  color: #ddd;
  text-shadow: 0px 0px 30px #0b86c2;
}

speaker {
    display: block;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 10px;
    border-radius: 50px;
    background: #151515 url(http://www.jtparrett.co.uk/grain.png);
    box-shadow: inset 0px 1px 2px #000, 0px 1px 0px rgba(255, 255, 255, 0.1);
}

screen {
   display: block; 
   width: 260px;
   height: 370px;
   background: #151515 url(http://www.jtparrett.co.uk/grain.png);
   margin: 70px 20px;
   border-radius: 3px;
   text-align: center;
   color: #aaa;
   text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
   font-size: 200%;
   position: absolute;
   font-weight: 400;
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
   line-height: 300;
}

.screen-wrapper{
  height:100%;
}

.mobile-header{
  width: 100%;
  height:40px;
  background-color:gray
}

.mobile-footer{
    width: 100%;
    height: 40px;
    background-color: gray;
    position: absolute;
    bottom: 0px;
}

.mobile-content{
    height: 100%;
    padding: 10px;
}

.content-inner{
    height: 100%;
    width:100%;
    line-height: 0;
}
.mobile-image-product{
    width: 100%;
    vertical-align: top;
    height: 160px;
}

.mobile-product-description h5{
  margin:0px;
  margin-bottom:5px;
  color: #656565;
  font-size: 12px;
}

.mobile-product-description h6{
  margin-bottom: 5px!important;
}

.mobile-product-description p{
  margin:0px;
  text-align:left;
  text-shadow:none;
}

.mobile-product-description{
    height: 70px;
    width: 100%;
    position: relative;
    background-color: #7f7f7f;
    padding:5px;
    margin-bottom:5px;
}

.mobile-product-description p {
  font-size:14px;
  background-color:gray;
  margin-bottom:5px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #010d07!important;
    border: 1px solid #1d3c01;
    color:#4a5400!important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #428bca;
    border-color: #cac642!important;
}




