    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bacon-and-eggs:before { content: "\f100"; }
.flaticon-breakfast:before { content: "\f101"; }
.flaticon-burger-and-potatoes:before { content: "\f102"; }
.flaticon-cheese:before { content: "\f103"; }
.flaticon-chef:before { content: "\f104"; }
.flaticon-chef-hat:before { content: "\f105"; }
.flaticon-cherries:before { content: "\f106"; }
.flaticon-cocktail:before { content: "\f107"; }
.flaticon-coffe-cup:before { content: "\f108"; }
.flaticon-cooking:before { content: "\f109"; }
.flaticon-croisant:before { content: "\f10a"; }
.flaticon-cupcake:before { content: "\f10b"; }
.flaticon-dish:before { content: "\f10c"; }
.flaticon-gingerbreadman:before { content: "\f10d"; }
.flaticon-ice-cream:before { content: "\f10e"; }
.flaticon-ice-cream-1:before { content: "\f10f"; }
.flaticon-kitchen:before { content: "\f110"; }
.flaticon-knife:before { content: "\f111"; }
.flaticon-marmalade:before { content: "\f112"; }
.flaticon-meat:before { content: "\f113"; }
.flaticon-meat-1:before { content: "\f114"; }
.flaticon-mushroom:before { content: "\f115"; }
.flaticon-octopus:before { content: "\f116"; }
.flaticon-pizza:before { content: "\f117"; }
.flaticon-potatoes:before { content: "\f118"; }
.flaticon-restaurant:before { content: "\f119"; }
.flaticon-rice:before { content: "\f11a"; }
.flaticon-salad:before { content: "\f11b"; }
.flaticon-salt-and-pepper:before { content: "\f11c"; }
.flaticon-salty:before { content: "\f11d"; }
.flaticon-taco:before { content: "\f11e"; }
.flaticon-teapot:before { content: "\f11f"; }
.flaticon-thigh:before { content: "\f120"; }
.flaticon-vegetables:before { content: "\f121"; }
.flaticon-watermellon:before { content: "\f122"; }
.flaticon-wine:before { content: "\f123"; }
    
    $font-Flaticon-bacon-and-eggs: "\f100";
    $font-Flaticon-breakfast: "\f101";
    $font-Flaticon-burger-and-potatoes: "\f102";
    $font-Flaticon-cheese: "\f103";
    $font-Flaticon-chef: "\f104";
    $font-Flaticon-chef-hat: "\f105";
    $font-Flaticon-cherries: "\f106";
    $font-Flaticon-cocktail: "\f107";
    $font-Flaticon-coffe-cup: "\f108";
    $font-Flaticon-cooking: "\f109";
    $font-Flaticon-croisant: "\f10a";
    $font-Flaticon-cupcake: "\f10b";
    $font-Flaticon-dish: "\f10c";
    $font-Flaticon-gingerbreadman: "\f10d";
    $font-Flaticon-ice-cream: "\f10e";
    $font-Flaticon-ice-cream-1: "\f10f";
    $font-Flaticon-kitchen: "\f110";
    $font-Flaticon-knife: "\f111";
    $font-Flaticon-marmalade: "\f112";
    $font-Flaticon-meat: "\f113";
    $font-Flaticon-meat-1: "\f114";
    $font-Flaticon-mushroom: "\f115";
    $font-Flaticon-octopus: "\f116";
    $font-Flaticon-pizza: "\f117";
    $font-Flaticon-potatoes: "\f118";
    $font-Flaticon-restaurant: "\f119";
    $font-Flaticon-rice: "\f11a";
    $font-Flaticon-salad: "\f11b";
    $font-Flaticon-salt-and-pepper: "\f11c";
    $font-Flaticon-salty: "\f11d";
    $font-Flaticon-taco: "\f11e";
    $font-Flaticon-teapot: "\f11f";
    $font-Flaticon-thigh: "\f120";
    $font-Flaticon-vegetables: "\f121";
    $font-Flaticon-watermellon: "\f122";
    $font-Flaticon-wine: "\f123";