<div class="inmodal" ng-controller="FormaDePagoCtrl">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Editar Forma de pago</h4>
    </div>
  	<div class="modal-body">
    	<div>
  	  	<form name="formEditformaPago" novalidate>
          <div class="row">
              <div class="col-lg-8">
                  <div class="form-group">
                    <label>Forma de pago:</label>
                    <input type="text" required placeholder="Descripcion" ng-model="formEdit.data.descripcion" class="form-control">
                  </div>
              </div>
              <div class="col-lg-4 text-left">
                <br />
                <br />
                 <div class="form-group">
                    <label>
                      <input icheck type="checkbox"  ng-model="formEdit.data.requiredCode" class="info-bounce">
                      Requerir Codigo:
                    </label>
                 </div>
              </div>
              <div class="col-lg-4 text-left">
                <div class="form-group">
                    <label>
                      <input icheck type="checkbox"  ng-model="formEdit.data.priority" class="info-bounce">
                      Prioritario:
                    </label>
                 </div>
              </div>
              <div class="col-lg-4 text-left">
                <div class="form-group">
                    <label>
                      <input icheck type="checkbox"  ng-model="formEdit.data.card" class="info-bounce">
                      Tarjeta:
                    </label>
                 </div>
              </div>
          </div>
  	  	</form>
    	</div>
  	</div>
    <div class="modal-footer custom-modal-footer" style="padding:0px;">
        <button type="button" style="height:40px;" class="custom-btn custom-btn-primary btn-block" ng-click="ok()">Actualizar</button>
    </div>
</div>
