<div class="inmodal">
    <div class="modal-header text-center">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Agregar transportador</h4>
    </div>
  	<div class="modal-body">
  	<div>
	  	<form name="formTransportador" novalidate>
			  <div class="form-group">
			    <label>Vehiculo:</label>
			    <input type="text" required placeholder="Vehiculo" class="form-control" ng-model="$parent.form.data.Vehiculo">
			  </div>
			  <div class="form-group">
			    <label>Placa:</label>
			    <input type="text" placeholder="Placa" required class="form-control" ng-model="$parent.form.data.Placa">
			  </div>
				<label>Chofer:</label>
		      	<input type="text" placeholder="Chofer" required class="form-control" ng-model="$parent.form.data.Chofer">
			  <div class="row">
			  	<div class="col-lg-12">
					  <div class="form-group">
					    <label>Valor del Envio:</label>
					    <input type="number" placeholder="Valor del Envio" required class="form-control" ng-model="$parent.form.data.valor">
					  </div>			  		
			  	</div>
			  </div>
	  	</form>
	 	  <div class="row" style="background-color: #e15305;">
			  <div class="col-lg-6 text-left">
			  	<h4 class="text-white">Valor :</h4>	
			  </div>
			  <div class="col-lg-6 text-right" ng-init="$parent.form.data.valor = 0;">
			  	<h4 class="text-white">{{$parent.form.data.valor | currency:"COP$ "}}</h4>
			  </div>	  	
		  </div>
  	</div>

  	</div>
    <div class="modal-footer">
        <button type="button" class="custom-btn custom-btn-default" ng-click="cancel()">Cancelar</button>
        <button type="button" class="custom-btn custom-btn-primary" ng-click="ok()">Agregar</button>
    </div>
</div>
