<div ng-controller="TransportadorCtrl" ng-init="load()">
	<div class="row">
	<h3>Transportadores</h3>
	<div class="panel panel-default" style="padding:0px;">
	  <div class="panel-body">
	  <div class="col-lg-12">
		  <div class="form-group pull-right">
		  	<button  class="custom-btn custom-btn-primary large-rounded" ng-click="agregar()">Agregar</button>
		  </div>
	  </div>
	  <div class="row">
			<div class="col-lg-6">
				<div class="input-group">
				      <input type="text" class="form-control" ng-model="search" placeholder="Buscar">
				      <span class="input-group-btn">
				        <button class="btn custom-btn-primary" type="button">Buscar</button>
				      </span>
		    	</div>
			</div>
			<div class="col-lg-6">
				<estado-pedido></estado-pedido>
			</div>	  	
	  </div>
	  <div class="table-responsive">
		 <table class="table table-hover">
			<thead>
				<th class="hidden">Codigo</th>
				<th>Vehiculo</th>
				<th>Placa</th>
				<th>Chofer</th>
				<th>Tarifa</th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr dir-paginate="record in records | itemsPerPage: 5 | filter:search">
					<td class="hidden">{{record._id}}</td>
					<td>{{record.data.Vehiculo}}</td>
					<td>{{record.data.Placa || 'no definido'}}</td>
					<td>{{record.data.Chofer}}</td>
					<td>{{record.data.valor | currency: "$ "}}</td>
					<td><a ui-sref="dashboard.detalle_transportador({transportador: record._id})" class="custom-btn custom-btn-primary" href="#/detalle-transportador/{{record._id}}">Detalle</a></td>
					<td><button ng-click="borrar()" class="custom-btn custom-btn-danger">Borrar</button></td>
				</tr>
			</tbody>
		</table>	  	
	  </div>
			<div class="row">
				<div class="col-lg-12">
					<dir-pagination-controls class="pull-right"></dir-pagination-controls>
				</div>
			</div>
	  </div>
	  <div class="panel-footer">Listado de Transportadores</div>
	</div>

	</div>

		 
	
</div>
