<div ng-init="load()">
  <div class="content" ng-show="!records || records.length == 0">
    <div class="table_wrap table_height">
      <div class="row table-responsive table_inner">
          <div class="controls" ng-show="records.length == 0 && Records">
            <h4 >No hay registros para mostrar</h4>
          </div>
          <p class="text-center" ng-show="!Records">
           <img style="width:50px;" src="images/loading.svg">
          </p>
      </div>
    </div>  
  </div>
<div class="col-lg-12 content" ng-show="records.length > 0">
        <div class="hpanel">
            <div class="panel-body">
		        <div class="row">
		        	<div class="col-lg-4">
						  <div class="form-group">
							<label>Categoria:</label>
					      	<categoria empty-option="true" key="_id" label="text" ng-model="filter._category"></categoria>
							<span class="form-input-message">Elije una categoria para ver los productos.</span>
						  </div>
		        	</div>
				  	<div class="col-lg-4">
					  <div class="form-group">
					    <label>Iva:</label>
					    <iva empty-option="true" ng-model="filter._iva" set-object="$parent.iva" ></iva>
					    <span class="form-input-message">Filtra por el tipo de Iva.</span>
					  </div>
				  	</div>
		        	<div class="col-lg-4">
			            <div class="form-group">
							<label>Buscar</label>
							<input type="text" ng-model="search" class="form-control input-sm m-b-md" id="filter" placeholder="Buscar en la tabla">
							<span class="form-input-message">Escribe cualquier palabra, descripción...</span>
			            </div>
		        	</div>
		        </div>
                <div class="table-responsive">
					<table class="table table-hover">
					    <thead>
					      <tr>
					        <th>Codigo</th>
					        <th>Producto</th>
					        <th>Categoria</th>
					        <th>Base</th>
					        <th>Precio de Venta</th>
					        <th>Utilidad</th>
					        <th>V. Utilidad</th>
					        <th>V. Iva</th>
					        <th>S. Min</th>
					        <th>S. Max</th>
					        <th style="width: 36px;"></th>
					        <th style="width: 36px;"></th>
					        <th style="width: 36px;"></th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr  
					      dir-paginate="record in records | 
						      filter:search | 
						      filter:{_category: filter._category ? {_id : filter._category} : '!'} |
						      itemsPerPage: 5 " 
					      pagination-id="productosEntity">
					        <td><span class="label label-primary">{{record.id}}</span></td>
					        <td>{{record.data.producto}}</td>
					        <td>{{record._category.text || 'Sin Categoria'}}</td>
					        <td>{{record.data.precio  | currency:"$ "}}</td>
					        <td>{{record.data.precio_venta  | currency:"$ "}}</td>
					        <td>{{record.data.utilidad ? record.data.utilidad   + '%' : '0%'}}</td>
					        <td>{{record.data.valor_utilidad  || 0 | currency:"$ "}}</td>
					        <td>{{record.data.valor_iva || 0 | currency:"$ "}}</td>
					        <td>{{record.data.stockMin || 0}}</td>
					        <td>{{record.data.stockMax || 0}}</td>
					        <td><button ng-click="verImpuestos()" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ivas</button></td>
     						<td><button ng-click="edit()" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</button></td>
					        <td><button ng-click="delete()" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i>&nbsp;Borrar</button></td>
					      </tr>
					    </tbody>
					  </table>
                </div>
				<div class="col-lg-12">
					<dir-pagination-controls class="pull-right" pagination-id="productosEntity"></dir-pagination-controls>
				</div>
            </div>
            <div class="panel-footer">
                Listado de Productos
            </div>
        </div>
    </div>
</div>
