<div class="inmodal">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Crear Vendedor</h4>
    </div>
    <div class="modal-body">
      <div>
        <form name="formEditVendedor" novalidate>
          <div class="row">
              <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Nombres * :</label>
                    <input type="text" required name="firstname" ng-model="formEdit.name"  class="form-control" placeholder="Nombres">
                  </div>                  
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Apellidos * :</label>
                      <input type="text" required name="lastname" ng-model="formEdit.last_name"  class="form-control" placeholder="Apellidos">
                    </div>                  
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Documento * :</label>
                       <selectize config="{create:true, maxItems:1, valueField: 'value', labelField: 'text', placeholder:'Tipo de documento'}" options='[{value:"CC", text:"Cedula de Ciudadania"}, {value:"CE", text:"Cedula de Extranjeria"},  {value:"DI", text:"Documento de Identidad"}]' ng-model="formEdit.metadata.documento"></selectize>
                    </div>                                  
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Numero de Documento * :</label>
                      <input type="text" required name="numero_documento" ng-model="formEdit.metadata.numero_documento"  class="form-control" placeholder="Numero de Documento">
                    </div>                                  
                </div>
              </div>
              <div class="form-group">
                <label>Correo * :</label>
                <input type="email" required name="email" ng-model="formEdit.email"  class="form-control" placeholder="Correo electronico">
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Celular:</label>
                      <input type="text" class="form-control" international-phone-number ng-model="formEdit.metadata.phone">
                    </div>                  
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label>Fijo:</label>
                      <input type="text" class="form-control" placeholder="Fijo" ng-model="formEdit.metadata.fijo">
                    </div>  
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                      <label>Departamento * :</label>
                      <departamento-field required ng-model="formEdit.metadata.departamento"></departamento-field>
                  </div>                      
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                      <label>Ciudad * :</label>
                      <ciudad-field required ng-model="formEdit.metadata.ciudad"></ciudad-field>
                  </div>                      
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Rutas * :</label>
                        <rutas-field required ng-model="formEdit._route" key="_id" label="ruta"></rutas-field>
                    </div>                  
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                      <label>Bodega :</label>
                      <bodega-field empty-option="true" placeholder="Bodega" ng-model="formEdit._grocery" key="_id" label="name"><bodega-field>
                  </div>
                </div>
              </div>

                  <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label>Contraseña * :</label>
                          <input type="password"  name="password" ng-model="formEdit.password"  class="form-control" placeholder="Contraseña">
                        </div>                      
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Confirmar Contraseña * :</label>
                        <input type="password"  name="confirmPassowrd" ng-model="formEdit.confirm"  class="form-control" placeholder="Confirmar Contraseña">
                      </div>                      
                    </div>
                  </div>
              </div>        
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer custom-modal-footer" style="padding:0px;">
        <button type="button" style="height:40px;" class="custom-btn btn-block custom-btn-primary" ng-click="ok()">Actualizar</button>
    </div>
</div>
