<div class="inmodal" ng-controller="FacturacionCtrl" ng-init="getPaymentMethods()">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Nueva Factura</h4>
    </div>
  	<div class="modal-body">
      <div class="row">
        <div class="file-wrap" style="height: 150px;" ng-show="loading">
          <div class="item-loading text-center" style="position:relative;top:25%;">
            <img style="height:30px;" src="images/loading.svg">
            <p>cargando datos...</p>
          </div>
        </div>
       </div>
    	<div ng-hide="loading">
  	  	<form name="formFacturacion" novalidate>
          <div class="row">
              <div class="col-lg-12 hidden">
                <button ng-click="agregarDescuentoGlobal()" type="button" class="btn btn-primary btn-md btn-block"><i class="glyphicon glyphicon-plus"></i>&nbsp;Agregar descuento global</button>
                <div class="form-group">
                  <label>Descuento:</label>
                  <input type="number" tabindex="0" placeholder="% Descuento" class="form-control text-center input-sm" ng-model="$parent.$parent.gdiscount">
                </div>
              </div> 
              <div ng-repeat="method in paymentMethods | orderBy:'data.priority'">
              <div class="col-lg-12">
          <div class="input-group form-group">
            <span style="width: 30%;" class="input-group-addon custom-btn-primary">{{method.data.descripcion}}</span>
                    <input
                          type="number" 
                          focus-on="method.data.priority" 
                          tabindex="{{($index + 1)}}" 
                          ng-change="setReceived(method.data)"
                          ng-keypress="openBaseForm($event, method.data.value)" 
                          class="form-control text-center input-sm" 
                          ng-model="method.data.value" 
                          placeholder="Valor"
                          >

            <span class="input-group-addon custom-btn-primary">.00</span>
          </div>  
              <p  class="animated slideInRight" style="color: #797676; padding: 4px;text-align: right;" ng-show="method.data.cardCode"><i style="top: 2px;" class="glyphicon glyphicon-credit-card"></i>&nbsp;Voucher : <span style="color: gray!important;font-weight: bold;">{{method.data.cardCode}}</span></p>             
              </div>

              </div>
          </div>
  	  	</form>
    	</div>
    <div class="row">
      <hr/>
      <div class="col-lg-6">
        <label class="text-dark">
            <input icheck type="checkbox" ng-init="printJob = true"  ng-model="printJob" class="info-bounce">
                Imprimir.
        </label>        
      </div>
      <div class="col-lg-6">
        <div class="form-group hidden">
            <label>Enviar Factura a:</label>
            <selectize config="{plugins: ['remove_button'], create:true, maxItems:10, placeholder:'Escriba cada email separado por coma (,)'}" options='[]' ng-model="invoiceTo"></selectize>
          </div>
      </div>
    </div>  
  	</div>
        <div class="text-center" style="height: 100%;position: relative;float: left;
    width: 100%;background-color:rgb(8, 8, 8);">
          <div class="col-lg-3">
            <label class="text-white" ng-init="$parent.$parent.totalParcial = $parent.$parent.total">Total:</label>
            <h5 style="color:#009ddc;!important;position: relative;" class="no-margin monospace">{{(totalParcial -  descuentoGlobal || 0)| currency:"COP $"}}</h5>
          </div>
          <div class="col-lg-3">
            <label class="text-white">Descuento:</label>
            <h5 ng-init="$parent.$parent.vgdescuento = 0"  style="color:#009ddc;!important;position: relative;" class="no-margin monospace">{{descuentoGlobal || 0 | currency:"COP $"}}</h5>
          </div>
          <div class="col-lg-3">
            <label class="text-white">Cambio:</label>
            <h5 style="color:#009ddc;!important;position: relative;" class="no-margin monospace">{{change || 0 | currency:"COP $"}}</h5>
          </div>
          <div class="col-lg-3">
            <label class="text-white">Valor recibido:</label>
            <h5 style="color:#009ddc;!important;position: relative;" class="no-margin monospace">{{received || 0 | currency:"COP $"}}</h5>
          </div>
        </div>
    <div class="modal-footer custom-modal-footer" style="padding:0px;">
        <button ng-show="rs"  type="button" style="height:40px;margin-top:0px;" tabindex="{{paymentMethods.length + 1}}" class="custom-btn custom-btn-primary btn-block" ng-click="ok()">Actualizar Factura</button>
         <button ng-disabled="!(received >= totalParcial)" ng-show="!rs"  type="button" style="height:40px;margin-top:0px;" tabindex="{{paymentMethods.length + 1}}" class="custom-btn custom-btn-primary btn-block" ng-click="ok()">Facturar</button>
    </div>
</div>
